
    <div class="cube">
        <table>
            <tr>
                <div>sdgsjdhfkjsdhf</div>
            </tr>
            <tr>
                <div>sdgsjdhfkjsdhf</div>
            </tr>
            <tr>
                <div>sdgsjdhfkjsdhf</div>
            </tr>
            <tr>
                <div>sdgsjdhfkjsdhf</div>
            </tr>
            <tr>
                <div>sdgsjdhfkjsdhf</div>
            </tr>
            <tr>
                <div>sdgsjdhfkjsdhf</div>
            </tr>
            <tr>
                <div>sdgsjdhfkjsdhf</div>
            </tr>
            
        </table>
    </div>