<div class="all_music">
   {% for music in all_music %}
       <div class="one_music" onclick="play_this(event,'{{ music.name }}', '{{ music.author }}', '{{ music.author }}', '{{ music.url }}')">
           <span class="play_btn"></span>
           <span class="name_music">{{ music.name }}</span>
           <span class="author_music">{{ music.author }}</span>
           <span class="album_music">{{ music.album }}</span>
           <span class="link_music" hidden="">{{ music.url }}</span>      
       </div>
   {% endfor %}
</div>