html{
    font-family: Calibri, serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

header{
    height: 35px;
    position: sticky;
    border-bottom: 1px solid black;
    background-color: gray;
    top: 0;
    left: 0;
    right: 0;
}

main{
    background-color: cadetblue;
}

footer{
    top: 0;
    bottom: 0;
    position: sticky;
    background-color: aquamarine;
}