<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>{% block title %}Music Player{% endblock %}</title>
</head>
<body>
    <header>
        <a href="">Главная</a>
        <a href="">Список музыки</a>
        <a href="">Библиотке</a>
        <a href="login.html">Логин</a>
        <a href="registration.html">Регистрация</a>
    </header>
    <main>
        <div>
            ahkjsdhksajhdkjasd
            <table>
                <tr>
                    <td>
                        akjshdkasjhd
                    </td>
                </tr>
                <tr>
                    <td>
                        akjshdkasjhd
                    </td>
                </tr>
                <tr>
                    <td>
                        akjshdkasjhd
                    </td>
                </tr>
                <tr>
                    <td>
                        akjshdkasjhd
                    </td>
                </tr>
            </table>
        </div>
    </main>
    <footer>
        <div id="audio_container">
            <button id="next"></button>
            <button id="play_pause"></button>
            <button id="last"></button>
            <div id="name_music"></div>
            <div id="timer"></div>
            <div id="not_active_duration"></div>
            <div id="active_duration"></div>
            <div id="volume"></div>
            <button id="loop"></button>
        </div>
    </footer>
</body>
</html>