{% extends 'player/templates/index.html' %}
{% block title %}Registration{% endblock %}
{% block main %}
<form action="" method="post" id="login_form">
    {% csrf_token %}
    <label>Имя: </label><input type="text" class="FirstName" required placeholder="Имя"><br><br>
    <label>Фамилия: </label><input type="text" class="LastName" required placeholder="Фамилия"><br><br>
    <label>Логин: </label><input type="text" class="Login" required placeholder="Логин"><br><br>
    <label>Почта: </label><input type="text" class="Email" required placeholder="Email"><br><br>
    <label>День рождения: </label><input type="date" class="DateBirth" required><br><br>
    <label>Телефон: </label><input type="text" class="Phone" required placeholder="Телефон"><br><br>
    <label>Пароль: </label><input type="password" class="Password" required placeholder="Пароль"><br><br>
    <input type="submit" value="Зарегистрироваться">
</form>
{% endblock %}